<mat-toolbar color="primary">All our available services are here!!
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <button>
           <mat-icon routerLink="/regular">home</mat-icon>
         </button>
   </mat-toolbar>
<div class="one">
    <div class="tww">
    <h1>Services</h1>
    <h2>Choose the service Package that suits your needs</h2>
</div>
  <div class="secondd">
  <mat-card>
      <mat-card-title>Rent a Car with Driver!</mat-card-title>
      <img mat-card-image src="/assets/images/driv1.png">
      <mat-card-content>
          <p>Ever wanted to have a super fun long drive with your family or wanted
            to have a Fantastic trip , Happy Miles is here to provide one of the best
            rental cars according to your convenience with experienced and licensed
            drivers.</p>
      </mat-card-content>
      <mat-card-actions>
          <button mat-button routerLink="/carsearch">Book Now</button>
      </mat-card-actions>
     
      </mat-card>


      <mat-card>
        <mat-card-title>Hire self-driving cars!!!</mat-card-title>
        <img mat-card-image src="/assets/images/newwwwcar.png">
        <mat-card-content>
            <p>Happy Miles provides Seld Driving services at your door step ,
                where you can book a car and Bump into the Joy of seldriving
                vacations !.During this pandemic Self driving cars benefit more..</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button routerLink="/carsearch">Book Now</button>
        </mat-card-actions>
        </mat-card>

        <mat-card>
            <mat-card-title>Access to clean and sanitized cars!</mat-card-title>
            <img mat-card-image src="/assets/images/lhm.jpg">
            <mat-card-content>
                <p> Happy Miles is ensuring that patrons of the
                    brand remain safeguarded from the risks. At a time of inspection, every time Happy Miles is
                    completely sanitized and cleaned with tissues, including the keys, steering
                    wheel, gears, front and back door handles, and pocket door hand rest.</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/carsearch">Book Now</button>
            </mat-card-actions>
            </mat-card>
        </div>
    </div>